#search{
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    color: #495057;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.search{
    float: right;
}

img {
    width: 90px;
    height: 90px;
    border:1px solid #ddd;
    border-radius: 50%;
    box-shadow: 0 2px 5px #aaa;
    margin: 10% auto;
    top: 0; left: 0; bottom: 0; right: 0;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
td{

    font-family: Arial;
    vertical-align: baseline;
    width: 20px;
}